<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="slnJapanTravel.Properties.Settings.JapanTravelConnectionString"
            connectionString="Data Source=192.168.35.188,1433;Initial Catalog=JapanTravel;Persist Security Info=True;User ID=Luke;Password=0000;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>